{% extends "base.html" %}

{% block content %}
<h2>{{ title }}</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.coefficient.label(class="form-label") }}
        {{ form.coefficient(class="form-control", step="0.1") }}
    </div>
    <button type="submit" class="btn btn-success">{{ form.submit.label.text }}</button>
    <a href="{{ url_for('main.dutytypes') }}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}